<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brantham Garage Sale - Coming Soon</title>
{% load static %}

    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'GarageSale/images/icons/faveicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{%static 'GarageSale/images/icons/faveicons//favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{%static 'GarageSale/images/icons/faveicons//favicon-16x16.png' %}">
<link rel="manifest" href="{%static 'GarageSale/images/icons/faveicons//site.webmanifest' %}">

</head>

<body style="background:#4444FF;font-size:150%;color:lightgrey;">
<div style="margin:auto;width=50;">
    <h1 style="text-align:center;">Coming Soon</h1>
    <div style="width:820px;margin:auto;">
    <img src="{%static 'GarageSale/images/icons/resources/facebook-ident-transparent.png' %}">
    </div>
    <div style="margin:auto;width:85%;">
        By the End of February this is planned to be a website for all of your Garage Sale needs including :
        <ul>
            <li>Up-to-date news on the Sale, and everything else around it</li>
            <li>Singing up to host an advertising board in your front-garden</li>
            <li>Registering your sale to ensure it is included on our official map</li>
            <li>Finding out about the new charity that has been established to run the charity sale</li>
            <li>Which good causes we are raising funds for in 2024</li>
            <li>Plans for the future</li>
        </ul>
    </div>
    <h2 style="text-align:center;"></h2>
</div>

</body>
</html>